.container{
    margin-bottom: 100px;
}

.tv-bg{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #fa8fb8, #FF136F);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-image: linear-gradient(to right, orange, #ffd079);
       
}
.cat2{
    background-image: linear-gradient(to right, #FF136F, #fa8fb8);
}
.cat3{
    background-image: linear-gradient(to right, #0000ff, #9ca2ff);
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 12px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 120px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    border-top: none;
    background-color: white;
    

}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
.copyright{
    text-align: center;
}